<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My Orders</title>
  <link rel="stylesheet" href="static/styles.css" />
</head>
<body>
  <div class="page-wrapper">
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
          <a href="index.html"><img src="static/suggested logo 1.jpg" alt="Broasted King Logo"/></a>
        </div>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="menu.html">Menu</a></li>
        
          {% if username == 'admin' %}
            <li><a href="admin.html">Admin</a></li>
          {% endif %}
        
          {% if username %}
            <li><a href="cart.html">Cart</a></li>
            <li><a href="orders.html">Orders</a></li>
            <li class="dropdown">
              <a href="#" class="dropbtn">{{ username }} ▼</a>
              <div class="dropdown-content">
                <a href="/logout">Logout</a>
              </div>
            </li>
          {% else %}
            <li><a href="login.html">Login/Register</a></li>
          {% endif %}
        </ul>
        
      </nav>

    <main>
      <section class="section-orders">
        <h2>My Orders</h2>
        {% if orders %}
          {% for order in orders %}
            <div class="order-row">
              <h3>Order #{{ order['order_id'] }}</h3>
              <p><strong>Delivery Address:</strong> {{ order['address'] }}</p>
              <p>
                <strong>Status:</strong>
                {% if order['status'] == 'pending' %}
                  <span class="status-pending">Pending</span>
                {% elif order['status'] == 'approved' %}
                  <span class="status-done">Cooked, Wait for delivery!</span>
                {% elif order['status'] == 'cancelled' %}
                  <span class="status-cancelled">Cancelled</span>
                {% elif order['status'] == 'delivered' %}
                <span class="status-cancelled">Delivered</span>
                {% endif %}
              </p>
            </div>
          {% endfor %}
        {% else %}
          <p>You don't have any orders yet.</p>
        {% endif %}
      </section>
    </main>

    <footer>
      <p>&copy; 2025 Broasted King. All rights reserved.</p>
    </footer>
  </div>
  <script src="static/script.js"></script>
</body>
</html>
